html {
  overflow: hidden;
  color: #FFF;
  height: 100%;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

::-webkit-scrollbar {
  /* width: 6px; */
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49) !important;
}