/* 
.cm-tooltip-autocomplete {
  background-color: #494949 !important;
  color: #fff;
}

.ͼ1 .cm-scroller {
  font-family: inherit;
}

.cm-cursor {
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.cm-editor {
  outline: none !important;
}

.cm-selectionBackground {
  background-color: #494949 !important;
}

.cm-highlight {
  background-color: #b100b159;
  border-radius: 7px;
  padding: 0 4px;
  font-weight: 500;
  color: #FFF;
}

.ͼ1 .cm-line {
  padding: 0;
}

.ͼ2 .cm-content {
  caret-color: white;
}

.cm-widgetBuffer {
  display: none;
}

.cm-code-block-top {
  background-color: black; 
  display: inline-block; 
  width: 100%; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 8px 0 8px!important;
  margin-top: 8px;
}

.cm-code-block-bottom {
  background-color: black; 
  display: inline-block; 
  width: 100%; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 8px 8px 8px!important;
  margin-bottom: 8px;
}

.cm-code-block-middle {
  background-color: black; 
  display: inline-block; 
  width: 100%; 
  padding: 0 8px!important;
} */