
.cm-tooltip-autocomplete {
  background-color: #494949 !important;
  color: #fff;
}

.ͼ1 .cm-scroller {
  font-family: inherit;
}

.cm-cursor {
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.cm-editor {
  outline: none !important;
}

.cm-selectionBackground {
  background-color: #494949 !important;
}

.cm-highlight {
  background-color: #b100b159;
  border-radius: 7px;
  padding: 0 4px;
  font-weight: 500;
  color: #FFF;
}

.ͼ1 .cm-line {
  padding: 0;
}

.ͼ2 .cm-content {
  caret-color: white;
}


/* language directive ('ts' / 'python' / etc) */
.ͼc {
  color: #93919f;
}

/* typescript 'const' */
.ͼb {
  color: #9747a3;
}

/* typescript variable name */
.ͼg {
  color: #6262ff;
}

/* backtick color */
.ͼ5 {
  color: #879687;
}

/* typescript number */
.ͼd {
  color: #1cae74;
}

/* python comment */
.ͼm {
  color: #da6303;
}